



.scrollport {
    mask-image: linear-gradient(to right, #0000, #000, #000, #0000);
    overflow-x: auto;
    overscroll-behavior-x: contain;
    display: flex;
    gap: 5rem;
    align-items: start;
    padding: 5rem;
}

















* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.mainsect>h1 {
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10vh;
    margin-top: 1rem;
}
.mainsect>h1>span {
    background-color: rgba(0, 0, 0, 0.103);

}
.mainsect {
    background-image: url('./imgs/OIG.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(61, 61, 61, 0.397);
    width: 100%;

    display: flex;
    flex-direction: column;
    margin-top: 60vh;
}
.andreinfo>img {
    margin-top: 8vh;
    width:25vw;
    height: 25vh;
    border-radius: 50%;
    outline: solid rgb(82, 82, 83) .2rem;
    margin-left: 3rem;
}


.andreinfo {

    background-image: url('./imgs/OIG.jpg');
    
    background-repeat: no-repeat;
    height: 10rem;
    overflow: visible;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    
}

.andreinfo>ul {
    margin-right: 60vw;
    margin-top: 18vh;
    padding: auto 0;
    font-size: 1.5rem;
    list-style-type: none;
}
.andreinfo>ul>li {
    width: 60vw;
}
.andreinfo>ul>li>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}
.andreinfo>ul>li>h2{
    font-family: cursive;
}
.andreinfo>ul>li>h4{
    text-align: right;
}

.livrosdiv {
    justify-content: center;
    display: inline-flex;
    gap: 5vw;
    transform:skew(33) ;
    height: 30rem;
    width: 100%;
    border-radius: 5%;
    margin-inline: auto;
    margin-bottom: 3rem;
    padding-top: 2vh;
}
.livro1 {
    display: flex;
    aspect-ratio: 1;
    block-size: 30rem;
    width: 200vw;
    height: 60vh;
    background-color: rgba(1, 1, 20, 0.884);
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;

}
.livro1>p {
    width: 100%;
    font-family: cursive;
    font-size: 1.5vh;
    color: white;
}
.livrosdiv>p>span {
    background-color: aliceblue;
    line-height: 1.5;

}
.livro1>a>img {
    width: 25vw;
    height: 30vh;
    display: flex;
    margin-inline: auto;
    margin-block: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 0;
}

footer {
    
    margin: 3rem;
    background-color: rgba(0, 0, 255, 0.514);
    text-align: center;
    margin-inline: auto;
    border-radius: 10%;
    outline: rgb(80, 5, 5) solid .5rem;
    width: fit-content;
}
footer>p{
    color:rgb(78, 61, 61);
    font-size: .8rem;
}
